@model Web.eBado.Models.Account.BatchGalleryModel
@using Infrastructure.Resources
@using Web.eBado.Helpers
@{
    ViewBag.Title = "BatchAccountGallery";
}

@Styles.Render("~/Content/settings")
@Styles.Render("~/Content/batch")

<script>
    $(document).ready(function() {
        var modelError = @Html.Raw(Json.Encode(Model.HasError));

        if (modelError) {
            $("#addBatch").text("@Html.Raw(@Resources.Close)");
            $("#batchArea").show();
        }
    });

    function onSubmit(token) {
        document.getElementById("htmlForm").submit();
    }
</script>

<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="alert-modal">
    <div class="modal-dialog" style="max-width:500px;height:200px;margin:0 auto">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="@Resources.Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">@Resources.DeleteGallery: <span id="galName" style="font-weight:700"></span>?</h3>
            </div>
            <div class="modal-body" style="text-align:left">
                <h4>@Resources.DoYouWantToContinue</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="modalNo">@Resources.Cancel</button>
                <button type="button" class="btn btn-danger" id="modalYes">@Resources.Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="resp push_top_10">
        @{ var session = (Web.eBado.Models.Shared.SessionModel)Session["User"]; }
        @AccountHelper.SettingsMenu(Url, ViewContext.RouteData.Values["Action"].ToString(), session)
        <div class="tabcontent-gallery push_top_10">
            <div class="btn-position">
                <button id="addBatch" class="form-btn col-lg-2" style="float:left">@Resources.Create</button>
            </div>
            @using (Html.BeginForm("CreateBatch", "Account", new { id = "htmlForm" }))
            {
                @Html.AntiForgeryToken()
                <form>
                    <div id="batchArea" class="col-lg-12" style="margin-bottom:30px; display:none">
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = Resources.PHName } })
                                <div class="val-message">@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = Resources.Description } })
                                <div class="val-message">@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10">
                                <button id="MyButton" class="form-btn" data-callback="onSubmit">@Resources.Create</button>
                            </div>
                        </div>
                    </div>
                </form>
            }
            @if (Model.Batch.Any())
            {
                var index = 1;
                foreach (var batch in Model.Batch)
                {
                    string tumbnailUrl = string.IsNullOrEmpty(batch.BaseThumbUrl) ? "/Content/BaseContent/img/no_photo.jpg" : batch.BaseThumbUrl;
                    <div id="batchContainer_@index" class="polaroid-batch zoom over-flow-hidden">
                        <div class="head">
                            <div class="name">@batch.Name</div>
                            <div class="att_count"><span class="glyphicon glyphicon-picture"><span style="color:#808080;font-weight:bold; margin-left:2px">@batch.AttachmentsCount</span></span></div>
                        </div>
                        <div style="overflow: hidden;">
                            <a href="@Url.Action("EditAccountGallery","Account",new { batchId = batch.Guid })"
                               style="background-image: url(@tumbnailUrl);" class="zoomzoom"></a>
                        </div>
                        <div class="btm-desc">
                            <p class="desc">@batch.Description</p>
                        </div>
                        <div class="btm">
                            <button id="@index" onclick="btnClick('@batch.Guid', '@index', '@batch.Name')" class="form-btn btn-space-5">@Resources.Delete</button>
                        </div>
                    </div>
                    index++;
                }
            }

        </div>
    </div>
</div>

<script>
    function btnClick(batch, id, name) {
        $("#galName").text(name);
        $("#alert-modal").modal('show');
        $("#modalYes").on("click", function () {
            $.ajax({
                url: "/FileUpload/DeleteBatch",
                type: "POST",
                data: JSON.stringify({ batchId: batch }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var container = $("#" + id).parent().parent().attr('id');
                    $("#" + container).hide(250);
                },
                error: function () {
                    alert("daco v pici!");
                }
            });
            $("#alert-modal").modal('hide');
        });

        $("#modalNo").on("click", function () {
            $("#alert-modal").modal('hide');
        });

    }

    $(function () {
        $("#addBatch").click(function () {
            $(this).text(function (i, text) {
                return text === "@Html.Raw(Resources.Create)" ? "@Html.Raw(Resources.Close)" : "@Html.Raw(Resources.Create)";
            })
            $("#batchArea").slideToggle();
        });
    })
</script>




