@model Web.eBado.Models.Account.AccountSettingsModel
@using Infrastructure.Common.Enums

@{
    ViewBag.Title = "ChangeSettings";
}

@Styles.Render("~/Content/settings")
@Scripts.Render("~/bundles/chosen")
@Styles.Render("~/Content/chosen")
@Scripts.Render("~/bundles/jquery_autocomplete")
<script>
    $(document).ready(function () {

        if (localStorage.getItem("isEditMember")) {
            $('#companyProfileDiv').addClass('hidden-toggle');
            $('#editMemberDiv').removeClass('hidden-toggle');
            localStorage.removeItem("isEditMember");
        }
    });
    $(function () {
        jQuery('.accordion-toggle').on('click', function () {
            if (jQuery(this).next().is(':hidden')) {
                jQuery('.accordion-toggle').next().hide(300);
                jQuery(this).next().show(300);
            }
        });
    })
</script>
@using (Html.BeginForm("ChangeSettings", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="responsive push_top_10">
            @{
                var session = (Web.eBado.Models.Shared.SessionModel)Session["User"];
                var companySession = session.Companies.FirstOrDefault(c => c.IsActive);
            }
            @AccountHelper.SettingsMenu(Url, ViewContext.RouteData.Values["Action"].ToString(), session)
            <div class="tabcontent">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @if (session.IsActive)
                {
                    <div class="accordion-toggle push_top_5">
                        <div class="accordion-main">Zmenit heslo</div>
                    </div>
                    <div class="accordion-content">
                        <div class="row">
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.PasswordModel.OldPassword, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "Stare heslo* " } })
                                <div class="val-message">@Html.ValidationMessageFor(model => model.PasswordModel.OldPassword, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.PasswordModel.NewPassword, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "Nove heslo* " } })
                                <div class="val-message">@Html.ValidationMessageFor(model => model.PasswordModel.NewPassword, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.PasswordModel.RepeatNewPassword, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "Nove heslo* " } })
                                <div class="val-message">@Html.ValidationMessageFor(model => model.PasswordModel.RepeatNewPassword, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-toggle">
                        <div class="accordion-main">Zmenit profil uctu</div>
                    </div>
                    <div class="hidden-toggle accordion-content">
                        @if (!session.IsExternalLogin)
                        {
                            <div class="row">
                                <div class="col-sm-12 set-font">Profil</div>
                            </div>
                            <div class="row">
                                @if (Model.UserModel.ProfileUrl == null)
                                {
                                    <div class="col-lg-6">
                                        <div class="tags_text">Zatial nemate profilovu fotku</div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-lg-6">
                                        <img src="@Model.UserModel.ProfileUrl" class="profile_img">
                                    </div>
                                }
                            </div>
                            <div class="row">
                                <div class=" col-lg-6">
                                    <div class="fileContainer push_top_5 push_bottom_10">
                                        <span class="glyphicon glyphicon-plus eb_blue"></span> <span id="fileNameU">Nahrat profilovu fotku</span>
                                        <input type="file" name="ProfilePicture" />
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-sm-12 set-font">Kontaktne udaje</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                @Html.EditorFor(model => model.UserModel.Email, new { htmlAttributes = new { @class = "form-control txt-lg", @readonly = "readonly" } })
                                <div class="val-message"></div>
                            </div>

                            <div class="col-lg-4">
                                @Html.EditorFor(model => model.UserModel.PhoneNumber, new { htmlAttributes = new { @class = "form-control txt-lg" } })
                                <div class="val-message">@Html.ValidationMessageFor(model => model.UserModel.PhoneNumber, "", new { @class = "text-danger" })</div>
                            </div>

                            <div class="col-lg-4">
                                @Html.EditorFor(model => model.UserModel.AdditionalPhoneNumber, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "Tel. Cislo" } })
                                <div class="val-message">@Html.ValidationMessageFor(model => model.UserModel.AdditionalPhoneNumber, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 set-font">Meno</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                @Html.EditorFor(model => model.UserModel.Title, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "Titul" } })
                                <div class="val-message">@Html.ValidationMessageFor(model => model.UserModel.Title, "", new { @class = "text-danger" })</div>
                            </div>

                            <div class="col-lg-4">
                                @Html.EditorFor(model => model.UserModel.FirstName, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "Meno" } })
                                <div class="val-message">@Html.ValidationMessageFor(model => model.UserModel.FirstName, "", new { @class = "text-danger" })</div>
                            </div>

                            <div class="col-lg-5">
                                @Html.EditorFor(model => model.UserModel.Surname, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "Priezvisko" } })
                                <div class="val-message">@Html.ValidationMessageFor(model => model.UserModel.Surname, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 set-font">Bydlisko</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <input type="text" class="form-control txt-lg" id="txtPostalCode" placeholder="PSC" value="@Model.UserModel.PostalCode" />
                                @Html.HiddenFor(model => model.UserModel.PostalCode, new { @id = "hiddenPostalCode" })
                                <div class="val-message">@Html.ValidationMessageFor(model => model.UserModel.PostalCode, "", new { @class = "text-danger" })</div>
                            </div>

                            <div class="col-md-6">
                                @Html.EditorFor(model => model.UserModel.Street, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "Ulica" } })
                                <div class="val-message">@Html.ValidationMessageFor(model => model.UserModel.Street, "", new { @class = "text-danger" })</div>
                            </div>

                            <div class="col-md-3">
                                @Html.EditorFor(model => model.UserModel.StreetNumber, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "Cislo" } })
                                <div class="val-message">@Html.ValidationMessageFor(model => model.UserModel.StreetNumber, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>

                    </div>
                    <div class="accordion-toggle">
                        <div class="accordion-main">rozsirene nastavenia uctu</div>
                    </div>
                    <div class="hidden-toggle accordion-content">
                        <div class="settings_wrapper">
                            <div class="text_div font_16">Radius vyhladavania (km):</div>
                            <div class="box_div">
                                @Html.EditorFor(model => model.SearchModel.SearchRadius, new { htmlAttributes = new { @class = "form-control" } })
                                <div class="val-message">@Html.ValidationMessageFor(model => model.SearchModel.SearchRadius, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        <div class="settings_wrapper">
                            <div class="text_div font_16">Povolit vyhladavanie inzeratov a dopytov na uzemi Slovenska</div>
                            <div class="toggle_div">
                                <label class="switch">
                                    @Html.CheckBoxFor(m => m.SearchModel.SearchInSK, new { @class = "form-control" })
                                    <span class="slider"></span>
                                </label>
                            </div>
                        </div>
                        <div class="settings_wrapper">
                            <div class="text_div font_16">Povolit vyhladavanie inzeratov a dopytov na uzemi Ceska</div>
                            <div class="toggle_div">
                                <label class="switch">
                                    @Html.CheckBoxFor(m => m.SearchModel.SearchInCZ, new { @class = "form-control" })
                                    <span class="slider"></span>
                                </label>
                            </div>
                        </div>
                        <div class="settings_wrapper">
                            <div class="text_div font_16">Povolit vyhladavanie inzeratov a dopytov na uzemi Madarska</div>
                            <div class="toggle_div">
                                <label class="switch">
                                    @Html.CheckBoxFor(m => m.SearchModel.SearchInHU, new { @class = "form-control" })
                                    <span class="slider"></span>
                                </label>
                            </div>
                        </div>


                    </div>
                }
                else
                {
                    string hiddenClass = "";
                    string push = "";
                    if (session.HasCompany)
                    {
                        push = "push_top_5";
                    }
                    else
                    {
                        hiddenClass = "hidden-toggle";
                    }

                    <div class="accordion-toggle @push">
                        <div class="accordion-main">zmenit profil firmy</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 set-font">Profil</div>
                    </div>
                        <div class="row">
                            @if (Model.CompanyModel.ProfileUrl == null)
                            {
                            <div class="col-lg-6">
                                <div class="tags_text">Zatial nemate profilovu fotku</div>
                            </div>
                            }
                            else
                            {
                            <div class="col-lg-6">
                                <img src="@Model.CompanyModel.ProfileUrl" class="profile_img">
                            </div>
                            }
                        </div>
                        <div class="row">
                            <div class=" col-lg-6">
                                <div class="fileContainer push_top_5">
                                    <span class="glyphicon glyphicon-plus eb_blue"></span> <span id="fileNameC">Nahrat profilovu fotku</span>
                                    <input type="file" name="ProfilePicture" />
                                </div>
                            </div>
                        </div>
                        <div id="companyProfileDiv" class="@hiddenClass accordion-content">
                            <div class="row">
                                <div class="col-lg-6">
                                    @Html.EditorFor(model => model.CompanyModel.CompanyName, new { htmlAttributes = new { @class = "form-control txt-lg", @readonly = "readonly" } })
                                    <div class="val-message"></div>
                                </div>

                                <div class="col-lg-3">
                                    @Html.EditorFor(model => model.CompanyModel.CompanyIco, new { htmlAttributes = new { @class = "form-control txt-lg", @readonly = "readonly" } })
                                    <div class="val-message"></div>
                                </div>

                                <div class="col-lg-3">
                                    @Html.EditorFor(model => model.CompanyModel.CompanyDic, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "Dic", @readonly = "readonly" } })
                                    <div class="val-message">@Html.ValidationMessageFor(model => model.CompanyModel.CompanyDic, "", new { @class = "text-danger" })</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 set-font">Adresa</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <input type="text" class="form-control txt-lg" id="txtCompanyPostalCode" placeholder="PSC" value="@Model.CompanyModel.CompanyPostalCode" />
                                    @Html.HiddenFor(model => model.CompanyModel.CompanyPostalCode, new { @id = "hiddenCompanyPostalCode" })
                                    <div class="val-message">@Html.ValidationMessageFor(model => model.CompanyModel.CompanyPostalCode, "", new { @class = "text-danger" })</div>
                                </div>

                                <div class="col-lg-6">
                                    @Html.EditorFor(model => model.CompanyModel.CompanyStreet, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "Ulica" } })
                                    <div class="val-message">@Html.ValidationMessageFor(model => model.CompanyModel.CompanyStreet, "", new { @class = "text-danger" })</div>
                                </div>

                                <div class="col-lg-3">
                                    @Html.EditorFor(model => model.CompanyModel.CompanyStreetNumber, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "Cislo" } })
                                    <div class="val-message">@Html.ValidationMessageFor(model => model.CompanyModel.CompanyStreetNumber, "", new { @class = "text-danger" })</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 set-font">Kontaktne udaje</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.CompanyModel.CompanyEmail, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "Email" } })
                                    <div class="val-message">@Html.ValidationMessageFor(model => model.CompanyModel.CompanyEmail, "", new { @class = "text-danger" })</div>
                                </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.CompanyModel.CompanyPhoneNumber, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "Mobil" } })
                                    <div class="val-message">@Html.ValidationMessageFor(model => model.CompanyModel.CompanyPhoneNumber, "", new { @class = "text-danger" })</div>
                                </div>

                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.CompanyModel.CompanyAdditionalPhoneNumber, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "Pevna linka" } })
                                    <div class="val-message">@Html.ValidationMessageFor(model => model.CompanyModel.CompanyAdditionalPhoneNumber, "", new { @class = "text-danger" })</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 set-font">Oblast podnikania</div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.CompanyModel.CompanyDescription, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "Popis cinnosti" } })
                                    <div class="val-message">@Html.ValidationMessageFor(model => model.CompanyModel.CompanyDescription, "", new { @class = "text-danger" })</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 resp_push_bottom_10">
                                    <div class="val-message hidden_div" id="categoryValidation"></div>
                                    <div class="tags_text">Vasa oblast podnikania:</div>
                                    @{ int categoryId = 1;}
                                    @foreach (var category in Model.CurrentCategories)
                                    {
                                        <div id="div_@categoryId" class="tags_blocks">
                                            <div id="name_@categoryId" class="tags_block-text">@category</div>
                                            <div id="@categoryId" class="tags_block-symbol">&#10006;</div>
                                        </div>
                                        categoryId++;
                                    }
                                </div>
                            </div>
                            <div class="edit_container push_bottom_20">
                                <span class="glyphicon glyphicon-plus eb_blue"><input type="button" id="newCategoryBtn" value="Pridat oblast podnikania" class="btn-no-border" /></span>
                            </div>
                            <div class="edit_container">
                                <div id="categoryDiv" class="col-md-8 hidden_div">
                                    <div class="row">
                                        <div class="tags_text">Vyberte novu kategoriu:</div>
                                    </div>
                                    <div class="row">
                                        @Html.DropDownListFor(m => m.CompanyModel.Categories.SelectedCategories, Model.CompanyModel.Categories.AllCategories, new { @class = "form-control chosen-select", @multiple = "true" })
                                        <div class="val-message"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 set-font">Jazyky</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 resp_push_bottom_10">
                                    <div class="val-message hidden_div" id="languageValidation"></div>
                                    <div class="tags_text">Vase jazyky:</div>
                                    @{ int languageId = 1;}
                                    @foreach (var language in Model.CurrentLanguages)
                                    {
                                        <div id="div_@language.Code" class="tags_blocks">
                                            <div id="name_@language.Code" class="tags_block-text">(@language.Code) @language.LanguageName</div>
                                            <div id="@language.Code" class="language_tags_block-symbol">&#10006;</div>
                                        </div>
                                        languageId++;
                                    }
                                </div>
                            </div>
                            <div class="edit_container push_bottom_20">
                                <span class="glyphicon glyphicon-plus eb_blue"><input type="button" id="newLanguageBtn" value="Pridat dalsie jazyky" class="btn-no-border" /></span>
                            </div>
                            <div class="edit_container">
                                <div id="languageDiv" class="col-md-8 hidden_div">
                                    <div class="row">
                                        <div class="tags_text">Vyberte novy jazyk:</div>
                                    </div>
                                    <div class="row">
                                        @Html.DropDownListFor(m => m.CompanyModel.Languages.SelectedLanguages, Model.CompanyModel.Languages.AllLanguages, new { @class = "form-control chosen-select", @multiple = "true" })
                                        <div class="val-message"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-toggle">
                            <div class="accordion-main">nastavenia firemneho uctu</div>
                        </div>
                        <div class="hidden-toggle accordion-content">
                            <div class="settings_wrapper">
                                <div class="text_div font_16">Radius vyhladavania (km):</div>
                                <div class="box_div">
                                    @Html.EditorFor(model => model.SearchModel.SearchRadius, new { htmlAttributes = new { @class = "form-control" } })
                                    <div class="val-message">@Html.ValidationMessageFor(model => model.SearchModel.SearchRadius, "", new { @class = "text-danger" })</div>
                                </div>
                            </div>
                            <div class="settings_wrapper">
                                <div class="text_div font_16">Povolit vyhladavanie inzeratov a dopytov na uzemi Slovenska</div>
                                <div class="toggle_div">
                                    <label class="switch">
                                        @Html.CheckBoxFor(m => m.SearchModel.SearchInSK, new { @class = "form-control" })
                                        <span class="slider"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="settings_wrapper">
                                <div class="text_div font_16">Povolit vyhladavanie inzeratov a dopytov na uzemi Ceska</div>
                                <div class="toggle_div">
                                    <label class="switch">
                                        @Html.CheckBoxFor(m => m.SearchModel.SearchInCZ, new { @class = "form-control" })
                                        <span class="slider"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="settings_wrapper">
                                <div class="text_div font_16">Povolit vyhladavanie inzeratov a dopytov na uzemi Madarska</div>
                                <div class="toggle_div">
                                    <label class="switch">
                                        @Html.CheckBoxFor(m => m.SearchModel.SearchInHU, new { @class = "form-control" })
                                        <span class="slider"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="settings_wrapper">
                                <div class="text_div font_16">Povolit notifikacie pre ucet</div>
                                <div class="toggle_div">
                                    <label class="switch">
                                        @Html.CheckBoxFor(m => m.NotificationModel.NotifyCommentOnAccount, new { @class = "form-control" })
                                        <span class="slider"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="settings_wrapper">
                                <div class="text_div font_16">Povolit notifikacie pre prispevky</div>
                                <div class="toggle_div">
                                    <label class="switch">
                                        @Html.CheckBoxFor(m => m.NotificationModel.NotifyCommentOnContribution, new { @class = "form-control" })
                                        <span class="slider"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="settings_wrapper">
                                <div class="text_div font_16">Posielat notifikacie vsetky clenom</div>
                                <div class="toggle_div">
                                    <label class="switch">
                                        @Html.CheckBoxFor(m => m.NotificationModel.NotifyAllMember, new { @class = "form-control" })
                                        <span class="slider"></span>
                                    </label>
                                </div>
                            </div>

                            @*TODO: PROFI UCET: pridanie vlastnej kolecie clenov ktorych budeme notifikovat*@
                            @*<div class="email_settings_wrapper">
                                    <div class="email_toggle_div">
                                        <label class="switch_small">
                                            @Html.CheckBoxFor(m => m.NotificationModel.NotifyAllMember, new { @class = "form-control" })
                                            <span class="slider_small "></span>
                                        </label>
                                    </div>
                                    <div class="email_text_div font_14">daco@email.com</div>
                                </div>
                                <div class="email_settings_wrapper">
                                    <div class="email_toggle_div">
                                        <label class="switch_small">
                                            @Html.CheckBoxFor(m => m.NotificationModel.NotifyAllMember, new { @class = "form-control" })
                                            <span class="slider_small"></span>
                                        </label>
                                    </div>
                                    <div class="email_text_div font_14">daco@email.com</div>
                                </div>*@

                        </div>
                                        if (@companySession.CompanyPermissions.Contains(CompanyPermission.AddMember.ToString()))
                                        {
                                            <div class="accordion-toggle">
                                                <div class="accordion-main">Editovat clenov firemneho uctu</div>
                                            </div>

                                            <div id="editMemberDiv" class="hidden-toggle accordion-content">
                                                <div class="edit_container">
                                                    <input type="button" id="newMemberBtn" value="Pridat clena" class="form-btn-transparent" />
                                                    <input type="button" id="newRoleBtn" value="Pridat rolu" class="form-btn-transparent" />
                                                </div>
                                                <div id="newMember" class="edit_container hidden_div push_top_20 push_bottom_20">
                                                    <div class="col-md-4">
                                                        @Html.EditorFor(model => model.EditMembersAndRolesModel.MemberEmail, new { htmlAttributes = new { @class = "form-control txt-lg", @id = "newMemberText", @placeholder = "Email pouzivatela" } })
                                                        <div class="val-message text-danger" id="memberValidation"></div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        @Html.DropDownListFor(m => m.EditMembersAndRolesModel.SelectedRoleId, Model.EditMembersAndRolesModel.AllRoles, new { @class = "form-control txt-lg", @id = "newMemberDrop" })
                                                        <div class="val-message"></div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="button" value="Pridat" onclick="AddNewMember()" class="form-btn" />
                                                    </div>
                                                </div>

                                                <div id="newRole" class="edit_container hidden_div push_top_20 push_bottom_20">
                                                    <div class="col-md-4">
                                                        @Html.EditorFor(model => model.EditMembersAndRolesModel.RoleName, new { htmlAttributes = new { @class = "form-control txt-lg", @id = "newRoleName", @placeholder = "Nazov role" } })
                                                        <div class="val-message">@Html.ValidationMessageFor(model => model.EditMembersAndRolesModel.RoleName, "", new { @class = "text-danger" })</div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="role_settings_wrapper">
                                                            <div class="role_toggle_div">
                                                                <label class="switch_small">
                                                                    @Html.CheckBoxFor(m => m.EditMembersAndRolesModel.Permissions.AddAttachments, new { @class = "form-control", @id = "AddAttachments" })
                                                                    <span class="slider_small"></span>
                                                                </label>
                                                            </div>
                                                            <div class="role_text_div font_14">Add attachments</div>
                                                        </div>
                                                        <div class="role_settings_wrapper">
                                                            <div class="role_toggle_div">
                                                                <label class="switch_small">
                                                                    @Html.CheckBoxFor(m => m.EditMembersAndRolesModel.Permissions.AddGallery, new { @class = "form-control", @id = "AddGallery" })
                                                                    <span class="slider_small"></span>
                                                                </label>
                                                            </div>
                                                            <div class="role_text_div font_14">Add gallery</div>
                                                        </div>
                                                        <div class="role_settings_wrapper">
                                                            <div class="role_toggle_div">
                                                                <label class="switch_small">
                                                                    @Html.CheckBoxFor(m => m.EditMembersAndRolesModel.Permissions.AddMember, new { @class = "form-control", @id = "AddMember" })
                                                                    <span class="slider_small"></span>
                                                                </label>
                                                            </div>
                                                            <div class="role_text_div font_14">Add member</div>
                                                        </div>
                                                        <div class="role_settings_wrapper">
                                                            <div class="role_toggle_div">
                                                                <label class="switch_small">
                                                                    @Html.CheckBoxFor(m => m.EditMembersAndRolesModel.Permissions.Comment, new { @class = "form-control", @id = "Comment" })
                                                                    <span class="slider_small"></span>
                                                                </label>
                                                            </div>
                                                            <div class="role_text_div font_14">Comment</div>
                                                        </div>
                                                        <div class="role_settings_wrapper">
                                                            <div class="role_toggle_div">
                                                                <label class="switch_small">
                                                                    @Html.CheckBoxFor(m => m.EditMembersAndRolesModel.Permissions.CreateDemand, new { @class = "form-control", @id = "CreateDemand" })
                                                                    <span class="slider_small"></span>
                                                                </label>
                                                            </div>
                                                            <div class="role_text_div font_14">Create demand</div>
                                                        </div>
                                                        <div class="role_settings_wrapper">
                                                            <div class="role_toggle_div">
                                                                <label class="switch_small">
                                                                    @Html.CheckBoxFor(m => m.EditMembersAndRolesModel.Permissions.ChangeSettings, new { @class = "form-control", @id = "ChangeSettings" })
                                                                    <span class="slider_small"></span>
                                                                </label>
                                                            </div>
                                                            <div class="role_text_div font_14">Change settings</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="role_settings_wrapper">
                                                            <div class="role_toggle_div">
                                                                <label class="switch_small">
                                                                    @Html.CheckBoxFor(m => m.EditMembersAndRolesModel.Permissions.DeleteDemand, new { @class = "form-control", @id = "DeleteDemand" })
                                                                    <span class="slider_small"></span>
                                                                </label>
                                                            </div>
                                                            <div class="role_text_div font_14">Delete demand</div>
                                                        </div>
                                                        <div class="role_settings_wrapper">
                                                            <div class="role_toggle_div">
                                                                <label class="switch_small">
                                                                    @Html.CheckBoxFor(m => m.EditMembersAndRolesModel.Permissions.EditDemand, new { @class = "form-control", @id = "EditDemand" })
                                                                    <span class="slider_small"></span>
                                                                </label>
                                                            </div>
                                                            <div class="role_text_div font_14">Edit demand</div>
                                                        </div>
                                                        <div class="role_settings_wrapper">
                                                            <div class="role_toggle_div">
                                                                <label class="switch_small">
                                                                    @Html.CheckBoxFor(m => m.EditMembersAndRolesModel.Permissions.RemoveAttachments, new { @class = "form-control", @id = "RemoveAttachments" })
                                                                    <span class="slider_small"></span>
                                                                </label>
                                                            </div>
                                                            <div class="role_text_div font_14">Remove attachments</div>
                                                        </div>
                                                        <div class="role_settings_wrapper">
                                                            <div class="role_toggle_div">
                                                                <label class="switch_small">
                                                                    @Html.CheckBoxFor(m => m.EditMembersAndRolesModel.Permissions.RemoveGallery, new { @class = "form-control", @id = "RemoveGallery" })
                                                                    <span class="slider_small"></span>
                                                                </label>
                                                            </div>
                                                            <div class="role_text_div font_14">Remove gallery</div>
                                                        </div>
                                                        <div class="role_settings_wrapper">
                                                            <div class="role_toggle_div">
                                                                <label class="switch_small">
                                                                    @Html.CheckBoxFor(m => m.EditMembersAndRolesModel.Permissions.RemoveMember, new { @class = "form-control", @id = "RemoveMember" })
                                                                    <span class="slider_small"></span>
                                                                </label>
                                                            </div>
                                                            <div class="role_text_div font_14">Remove member</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input type="button" onclick="AddNewRole()" value="Pridat" class="form-btn" />
                                                    </div>
                                                </div>
                                                <div class="member_list_text">
                                                    Zoznam clenov:
                                                </div>
                                                @if (Model.EditMembersAndRolesModel.UserRoles.Count() > 0)
                                                {
                                                    for (int i = 0; i < Model.EditMembersAndRolesModel.UserRoles.Count(); i++)
                                                    {
                                                        if (Model.EditMembersAndRolesModel.UserRoles[i].UserEmail != session.Email)
                                                        {
                                                            <div class="member_list_wrapper">
                                                                <div id="@Model.EditMembersAndRolesModel.UserRoles[i].UserEmail" class="member_blocks member_left">
                                                                    @Html.DropDownListFor(m => m.EditMembersAndRolesModel.UserRoles[i].SelectedRoleId, new SelectList(Model.EditMembersAndRolesModel.AllRoles, "Value", "Text", Model.EditMembersAndRolesModel.UserRoles[i].SelectedRoleId), new { @class = "form-control txt-lg", @id = "memberRole" + i })
                                                                </div>
                                                                <div class="member_blocks member_middle">
                                                                    <div class="role_text_div font_16">@Model.EditMembersAndRolesModel.UserRoles[i].UserEmail</div>
                                                                </div>
                                                                @if (@companySession.CompanyPermissions.Contains(CompanyPermission.RemoveMember.ToString()))
                                                                {
                                                                    <div class="member_blocks member_right">
                                                                        <input type="button" onclick="DeleteMember('@Model.EditMembersAndRolesModel.UserRoles[i].UserEmail')" value="Zmazat" class="form-btn" />
                                                                    </div>
                                                                }
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            if (Model.EditMembersAndRolesModel.UserRoles.Count() == 1)
                                                            {
                                                                <h4>Momentalne ste jediny clen</h4>
                                                            }
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    <h4>Momentalne nemate ziadnych clenov</h4>
                                                }
                                            </div>
                                            }
                                        }
                <div class="accordion-content push_top_20 push_bottom_20">
                    <input type="submit" value="ZMENIT" class="form-btn-transparent" style="width:200px" />
                </div>
            </div>
        </div>
    </div>
    <script>
        window.globalVar = @Html.Raw(Json.Encode(Model.CurrentCategories ?.Count()));

        $("[type=file]").on("change", function () {
            var file = this.files[0].name;
            if (file)
            {
                $("#fileNameU").text(file);
                $("#fileNameC").text(file);
            }
        });
    </script>
    @Scripts.Render("~/bundles/changeSettings")
                                        @Scripts.Render("~/bundles/postalCode")
                                        }
