@model Web.eBado.Models.Shared.AttachmentGalleryModel
@using Web.eBado.Helpers
@using Web.eBado.Models.Shared
@{
    ViewBag.Title = "EditAccountGallery";
}

@Styles.Render("~/Content/settings")
@Styles.Render("~/Content/jQuery-File-Upload")

<script>
    var $form = null;
    $(function () {

        $form = $('#fileupload').fileupload({
            dataType: 'json',
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i
        });
    });

    $('#fileupload').addClass('fileupload-processing');

    var batchId = @Html.Raw(Json.Encode(Model.Guid));

    $.ajax({
        type: 'GET',
        contentType: "application/json; charset=utf-8",
        url: '/FileUpload/GetFileList',
        data: {
            batchId: batchId
        },
        success: function (data) {
            generateGallery(data);
            }
    });
    function generateGallery(response, textStatus, jqXHR) {
        var index = 1;
        jQuery.each(response, function (index, item) {
            jQuery("#imagesContainer").append('<div id="imgContainer' + index + '" class="polaroid zoom over-flow-hidden"><div style="overflow: hidden;"> <a target="_blank" href="' + item.url + '" style="background-image: url(' + item.thumbnailUrl + ');" class="zoomzoom"></a></div><div class="btm"><div class="chBox"><input type="checkbox" onchange="enableDeleteBtn()" id="btn' + index + '" value="btn' + item.name + '" /></div><div style="float:right"><button id="btn' + index + '" onclick="btnClick(\'btn' + item.name + '\', \'btn' + index + '\')" class="form-btn btn-space-5">Delete</button></div></div></div>');
            index++;
        });
    };
</script>


@Html.AntiForgeryToken()
<div class="container">
    <div class="resp push_top_10">
        @AccountHelper.SettingsMenu(Url, ViewContext.RouteData.Values["Action"].ToString())
        <div class="tabcontent-gallery push_top_10">
            <div class="btn-position">
                <button type="submit" class="form-btn col-lg-2" style="float:left" onclick="location.href='@Url.Action("BatchAccountGallery", "Account")'"><span class="glyphicon glyphicon-arrow-left push_right_5"></span>Naspat</button>
            </div>

            @Html.Partial("_Files")
            <div id="links" style="float:left; width:auto; margin:0 auto">
                <div id="imagesContainer"></div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jQuery-File-Upload")
<script>
    function enableDeleteBtn() {
        $("#deleteSelected").prop("disabled", !$('input:checked').length);
    }

    function btnClick(name, id) {
        $.ajax({
            url: "/FileUpload/DeleteFile",
            type: "POST",
            data: JSON.stringify({ batchId: '@Model.Guid', file: name }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var container = $("#" + id).parent().parent().parent().attr('id');
                $("#" + container).hide(250);
            },
            error: function () {
                alert("daco v pici!");
            }
        });
    }

    $("#deleteSelected").click(function () {
        var selectedImg = [];
        var selectedId = [];
        $('#imagesContainer input:checked').each(function () {
            selectedImg.push($(this).attr('value'));
            selectedId.push($(this).attr('id'));
        });
        $.ajax({
            url: "/FileUpload/DeleteFile",
            type: "POST",
            data: JSON.stringify({ batchId: '@Model.Guid', file: selectedImg }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $.each(selectedId, function (key, value) {
                    var container = $("#" + selectedId[key]).parent().parent().parent().attr('id');
                $("#" + container).hide(250);
                });
            },
            error: function () {
                alert("daco v pici!");
            }
        });
    });

    document.getElementById('links').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
            link = target.src ? target.parentNode : target,
            options = { index: link, event: event },
            links = this.getElementsByTagName('a');
        if (target.nodeName != "DIV" && target.nodeName != "BUTTON" && target.nodeName != "INPUT") {
            blueimp.Gallery(links, options);
        }
    };
</script>

@Scripts.Render("~/bundles/Blueimp-Gallerry2")

