@using Infrastructure.Resources
@model Web.eBado.Models.Account.LoginModel

@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/login")

    </head>
    <body>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <div class="main">
            @{
                if (Model != null && Model.ShouldRedirect)
                {
                    Response.Redirect(Model.ReturnUrl);
                }}

            <div class="container">
                <div class="col-lg-4 col-md-3 col-sm-2"></div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="logo">
                        <img src="https://orig00.deviantart.net/2991/f/2013/211/e/5/skype_logo___tsubasa_guild_by_tiesiy-d6ftdie.png" alt="Logo">
                    </div>
                    <div class="row loginbox">
                        <div class="col-lg-12 centerSign">
                            <span class="singtext">@Resources.SignIn</span>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = Resources.PHLoginEmail, @autofocus = "autofocus" } })
                        </div>
                        <div class="col-lg-12  col-md-12 col-sm-12">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = Resources.PHLoginPassword } })
                            <label class="label-form" for="email">
                                @Html.ValidationMessageFor(model => model.Password)
                            </label>
                        </div>
                        <div class="col-sm-12">
                            <input type="submit" value="@Resources.Submit" class="btn submitButton" />
                        </div>
                        <div class="col-sm-12 text-center">
                            <a href="@Url.Action("RegisterUser","Account")" class="no_account">Vytvorit novy ucet</a>
                        </div>
                    </div>
                    <div class="row forGotPassword">
                        <a href="@Url.Action("ForgotPassword","Account")">@Resources.ForgotUsernamePassword</a>
                    </div>
                    <br>
                    <br>
                    <footer class="footer">
                        <a href='#'>@Resources.TermsOfUse</a> | 
                        <a href='#'>@Resources.PrivacyPolicy</a> | 
                        <a href='#'>@Resources.ContactUs</a>
                        <p>&copy; @DateTime.Now.Year - eBado Company - @Resources.Copyright</p>
                    </footer>
                </div>
                <div class="col-lg-4 col-md-3 col-sm-2"></div>
            </div>
            </div>
    </body>
</html>
}