@model Web.eBado.Models.Account.RegistrationModel
@using Infrastructure.Common.Enums
@using Infrastructure.Resources
@using Web.eBado.App_Code

@{
    ViewBag.Title = "RegisterCompany";
}

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.js"></script>*@
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css">*@

@Scripts.Render("~/bundles/chosen")
@Styles.Render("~/Content/chosen")
@Styles.Render("~/Content/check-radio")
@Scripts.Render("~/bundles/jquery_autocomplete")
@Scripts.Render("~/bundles/register")

<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
    function onSubmit(token) {
        document.getElementById("htmlForm").submit();
    }
</script>

@using (Html.BeginForm("RegisterCompany", "Account", FormMethod.Post, new { id = "htmlForm" }))
{
    @Html.AntiForgeryToken()
    <div class="container push_top_30">
        <div class="col-md-2"></div>
        <div class="row">
            <div class="col-md-7">
                <div class="card">
                    @AccountHelper.RegisterMenu(Url, ViewContext.RouteData.Values["Action"].ToString())
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="basic">
                            <form>
                                <div class="col-sm-12 reg-font">@Resources.LoginInfo</div>
                                <hr class="col-sm-12 transparent" />
                                <div class="form-group col-sm-6">
                                    @Html.EditorFor(model => model.UserModel.Email, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = @Resources.PHEmail } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.UserModel.Email)
                                    </label>
                                </div>
                                <div class="form-group col-sm-6"></div>

                                <div class="col-sm-12 reg-font"></div>
                                <div class="form-group col-sm-6">
                                    @Html.EditorFor(model => model.UserModel.Password, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = @Resources.PHPassword } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessagesFor(model => model.UserModel.Password)
                                    </label>
                                </div>
                                <div class="form-group col-sm-6">
                                    @Html.EditorFor(model => model.UserModel.RepeatPassword, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = @Resources.PHRepeatPassword } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessagesFor(model => model.UserModel.RepeatPassword)
                                    </label>
                                </div>
                                <div class="col-sm-12 reg-font">@Resources.ContactPerson</div>
                                <hr class="col-sm-12 transparent" />
                                <div class="form-group col-sm-3">
                                    @Html.EditorFor(model => model.UserModel.Title, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = @Resources.PHTitle } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.UserModel.Title)
                                    </label>
                                </div>
                                <div class="form-group col-sm-4">
                                    @Html.EditorFor(model => model.UserModel.FirstName, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = @Resources.PHFirstname } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.UserModel.FirstName)
                                    </label>
                                </div>
                                <div class="form-group col-sm-5">
                                    @Html.EditorFor(model => model.UserModel.Surname, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = @Resources.PHLastName } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.UserModel.Surname)
                                    </label>
                                </div>
                                <div class="form-group col-sm-6">
                                    @Html.EditorFor(model => model.UserModel.PhoneNumber, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = @Resources.PHPhoneNumber } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessagesFor(model => model.UserModel.PhoneNumber)
                                    </label>
                                </div>
                                <div class="form-group col-sm-6">
                                    @Html.EditorFor(model => model.UserModel.AdditionalPhoneNumber, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = @Resources.PHPhoneNumber } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.UserModel.AdditionalPhoneNumber)
                                    </label>
                                </div>
                                <div class="col-sm-12 reg-font">@Resources.ContactDetails</div>
                                <hr class="col-sm-12 transparent" />
                                <div class="form-group col-sm-4">
                                    <input type="text" class="form-control txt-lg" id="txtPostalCode" placeholder="@Resources.PHPostalCode" />
                                    @Html.HiddenFor(model => model.UserModel.PostalCode, new { @id = "hiddenPostalCode" })
                                    <input type="hidden" id="hfCustomer" name="CustomerId" />
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.UserModel.PostalCode)
                                    </label>
                                </div>
                                <div class="form-group col-sm-5">
                                    @Html.EditorFor(model => model.UserModel.Street, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = @Resources.PHStreetName } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.UserModel.Street)
                                    </label>
                                </div>
                                <div class="form-group col-sm-3">
                                    @Html.EditorFor(model => model.UserModel.StreetNumber, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = @Resources.PHStreetNumber } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.UserModel.StreetNumber)
                                    </label>
                                </div>
                                <div class="col-sm-12 reg-font">@Resources.CompanyInfo</div>
                                <hr class="col-sm-12 transparent" />
                                <div class="form-group col-sm-8">
                                    @Html.DropDownListFor(model => model.CompanyModel.CompanyLocation, EnumHelper.GetSelectList(typeof(Countries)), new { @class = "form-control txt-lg" })
                                    <label class="label-form" for="email">
                                    </label>
                                </div>                                
                                <div class="form-group col-sm-12"></div>

                                <div class="form-group col-sm-1">
                                    <input checked="checked" id="WithIco" name="ICO_choose" type="radio" />
                                </div>
                                <div class="form-group col-sm-7">
                                    @Html.EditorFor(model => model.CompanyModel.CompanyIco, new { htmlAttributes = new { @class = "form-control txt-lg", @id = "txtCompanyNumber", @placeholder = @Resources.PHCompanyNumber } })
                                    <label class="label-form" for="email" id="IcoValidation">
                                        @Html.ValidationMessageFor(model => model.CompanyModel.CompanyIco)
                                    </label>
                                </div>
                                <div class="form-group col-sm-4">
                                    <button type="button" id="validateBtn" class="form-btn col-sm-12"><span id="spn"></span>@Resources.Validate</button>
                                </div>
                                <div class="form-group col-sm-12">
                                    <input id="WithoutIco" name="ICO_choose" class="radio inline" type="radio" /> <span class="h4">&nbsp;&nbsp;&nbsp; @Resources.DontHaveCopanyNumber</span>
                                </div>
                                <hr class="col-sm-12 transparent" />
                                <div id="companyDiv" style="display:none">
                                    <div class="form-group col-sm-8">
                                        @Html.EditorFor(model => model.CompanyModel.CompanyName, new { htmlAttributes = new { @class = "form-control txt-lg", @id = "txtCompanyName", @placeholder = @Resources.PHCompanyName } })
                                        <label class="label-form" for="email">
                                            @Html.ValidationMessageFor(model => model.CompanyModel.CompanyName)
                                        </label>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        @Html.EditorFor(model => model.CompanyModel.CompanyDic, new { htmlAttributes = new { @class = "form-control txt-lg", @id = "txtDic", @placeholder = "Dic" } })
                                        <label class="label-form" for="email">
                                            @Html.ValidationMessageFor(model => model.CompanyModel.CompanyDic)
                                        </label>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        @Html.DropDownListFor(model => model.CompanyModel.CompanyType, EnumHelper.GetSelectList(typeof(CompanyType)), new { @class = "form-control txt-lg input-disabled", @id = "AccountTypeDropDown" })
                                        @Html.HiddenFor(model => model.CompanyModel.CompanyType)
                                        <label class="label-form" for="email">
                                            @Html.ValidationMessageFor(model => model.CompanyModel.CompanyType)
                                        </label>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        @*<input type="text" class="form-control txt-lg" id="txtCompanyPostalCode" placeholder="@Resources.PHPostalCode" />*@
                                        @Html.EditorFor(model => model.CompanyModel.CompanyPostalCode, new { htmlAttributes = new { @class = "form-control txt-lg", @id= "txtCompanyPostalCode", @placeholder = @Resources.PHPostalCode } })
                                        @Html.HiddenFor(model => model.CompanyModel.CompanyPostalCode, new { @id = "hiddenCompanyPostalCode" })
                                        <label class="label-form" for="email">
                                            @Html.ValidationMessageFor(model => model.CompanyModel.CompanyPostalCode)
                                        </label>
                                    </div>
                                    <div class="form-group col-sm-8">
                                        @Html.EditorFor(model => model.CompanyModel.CompanyStreet, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = @Resources.PHStreetName } })
                                        <label class="label-form" for="email">
                                            @Html.ValidationMessageFor(model => model.CompanyModel.CompanyStreet)
                                        </label>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        @Html.EditorFor(model => model.CompanyModel.CompanyStreetNumber, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = @Resources.PHStreetNumber } })
                                        <label class="label-form" for="email">
                                            @Html.ValidationMessageFor(model => model.CompanyModel.CompanyStreetNumber)
                                        </label>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        @Html.EditorFor(model => model.CompanyModel.CompanyEmail, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = @Resources.PHEmail } })
                                        <label class="label-form" for="email">
                                            @Html.ValidationMessageFor(model => model.CompanyModel.CompanyEmail)
                                        </label>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        @Html.EditorFor(model => model.CompanyModel.CompanyPhoneNumber, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "Company phone number" } })
                                        <label class="label-form" for="email">
                                            @Html.ValidationMessageFor(model => model.CompanyModel.CompanyPhoneNumber)
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12 reg-font">@Resources.BusinessArea</div>
                                <hr class="col-sm-12 transparent" />
                                <div class="form-group col-sm-12">
                                    @Html.DropDownListFor(m => m.CompanyModel.Categories.SelectedCategories, Model.CompanyModel.Categories.AllCategories, new { @class = "form-control chosen-select", @multiple = "true", data_placeholder = "Choose your business area..." })

                                    <label class="label-form" for="email">
                                        @Html.ValidationMessagesFor(model => model.CompanyModel.Categories.SelectedCategories)
                                    </label>
                                </div>

                                <button id="MyButton" class="g-recaptcha form-btn col-sm-12" data-sitekey="@System.Configuration.ConfigurationManager.AppSettings["ReCaptcha_PublicKey"]" data-callback="onSubmit">@Resources.Register2</button>
                            </form>
                            <script>
                                $('.chosen-select').chosen({ width: '100%' });
                            </script>
                            @Scripts.Render("~/bundles/postalCode")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
