@using Infrastructure.Resources
@model Web.eBado.Models.Account.RegisterUserModel

@{
    ViewBag.Title = "RegisterUser";
}

@Scripts.Render("~/bundles/jquery_autocomplete")
<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
    function onSubmit(token) {
        document.getElementById("htmlForm").submit();
    }
</script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "htmlForm" }))
{
    @Html.AntiForgeryToken()

    <div class="container push_top_30">
        <div class="col-md-2"></div>
        <div class="row">
            <div class="col-md-7">
                <div class="card">
                    @AccountHelper.RegisterMenu(Url, ViewContext.RouteData.Values["Action"].ToString())
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="basic">
                            <form>
                                <div class="col-sm-12 reg-font">@Resources.LoginInfo</div>
                                <hr class="col-sm-12 transparent" />
                                <div class="form-group col-sm-6">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = @Resources.PHEmail } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.Email)
                                    </label>
                                </div>
                                <div class="form-group col-sm-6"></div>

                                <div class="col-sm-12 reg-font"></div>
                                <div class="form-group col-sm-6">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = @Resources.PHPassword } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.Password)
                                    </label>
                                </div>
                                <div class="form-group col-sm-6">
                                    @Html.EditorFor(model => model.RepeatPassword, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = @Resources.PHRepeatPassword } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.RepeatPassword)
                                    </label>
                                </div>
                                <div class="col-sm-12 reg-font">@Resources.ContactPerson</div>
                                <hr class="col-sm-12 transparent" />
                                <div class="form-group col-sm-3">
                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = @Resources.PHTitle } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.Title)
                                    </label>
                                </div>
                                <div class="form-group col-sm-4">
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = @Resources.PHFirstname } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.FirstName)
                                    </label>
                                </div>
                                <div class="form-group col-sm-5">
                                    @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = @Resources.PHLastName } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.Surname)
                                    </label>
                                </div>
                                <div class="form-group col-sm-6">
                                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = @Resources.PHPhoneNumber } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.PhoneNumber)
                                    </label>
                                </div>
                                <div class="form-group col-sm-6">
                                    @Html.EditorFor(model => model.AdditionalPhoneNumber, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = @Resources.PHPhoneNumber } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.AdditionalPhoneNumber)
                                    </label>
                                </div>
                                <div class="col-sm-12 reg-font">@Resources.ContactDetails</div>
                                <hr class="col-sm-12 transparent" />
                                <div class="form-group col-sm-4">
                                    <input type="text" class="form-control txt-lg" id="txtPostalCode" placeholder="@Resources.PHPostalCode" />
                                    @Html.HiddenFor(model => model.PostalCode, new { @id = "hiddenPostalCode" })
                                    <input type="hidden" id="hfCustomer" name="CustomerId" />
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.PostalCode)
                                    </label>
                                </div>
                                <div class="form-group col-sm-5">
                                    @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = @Resources.PHStreetName } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.Street)
                                    </label>
                                </div>
                                <div class="form-group col-sm-3">
                                    @Html.EditorFor(model => model.StreetNumber, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = @Resources.PHStreetNumber } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.StreetNumber)
                                    </label>
                                </div>
                                <button id="MyButton" class="g-recaptcha form-btn col-sm-12" data-sitekey="@System.Configuration.ConfigurationManager.AppSettings["ReCaptcha_PublicKey"]" data-callback="onSubmit">@Resources.Register2</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}

