@using System.Web.Mvc
@using Infrastructure.Resources
@using Web.eBado
@helper SettingsMenu(UrlHelper Url, string viewType, Web.eBado.Models.Shared.SessionModel session)
{
var company = session.Companies.FirstOrDefault(c => c.IsActive);
<div class="tab push_bottom_10">
    <button type="button" name="btn" class="@(viewType == "MyAdvertisements" ? "active" : "")" onclick="location.href='@Url.Action("MyAdvertisements", "Account")'">MOJE INZERATY<span class="badge badge_color pull-right">1</span></button>
    <button type="button" name="btn" class="@(viewType == "MyAdvertisements" ? "active" : "")" onclick="location.href='@Url.Action("MyAdvertisements", "Account")'">MOJE DOPYTY<span class="badge badge_color pull-right">1</span></button>
    @if (company != null)
    {
        <button type="button" name="btn" class="@(viewType == "MyAdvertisements" ? "active" : "")" onclick="location.href='@Url.Action("MyAdvertisements", "Account")'">MOJE HODNOTENIA<span class="badge badge_color pull-right">1</span></button>
    }
    @if (company == null)
    {
        <button type="button" name="btn" class="@(viewType == "MyAdvertisements" ? "active" : "")" onclick="location.href='@Url.Action("MyAdvertisements", "Account")'">PRIDAT UCET</button>
    }
    @if (company != null)
    {
        <button type="button" name="btn" class="@(viewType == "BatchAccountGallery" ? "active" : "")" onclick="location.href='@Url.Action("BatchAccountGallery", "Account")'">GALERIA<span class="badge badge_color pull-right">1</span></button>
    }
    <button type="button" name="btn" class="@(viewType == "ChangeSettings" ? "active" : "")" onclick="location.href='@Url.Action("ChangeSettings", "Account")'">NASTAVENIA</button>
</div>
}

@helper RegisterMenu(UrlHelper Url, string viewType)
{
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="@(viewType == "RegisterUser" ? "active" : "")">
            <a href="@Url.Action("RegisterUser", "Account")" aria-controls="home" style="font-size:15px;">@Resources.BasicAccount</a>
        </li>
        <li role="presentation" class="@(viewType == "RegisterCompany" ? "active" : "")">
            <a href='@Url.Action("RegisterCompany", "Account")' aria-controls="settings" style="font-size:15px;">@Resources.CompanyAccount</a>
        </li>
    </ul>
}
