@using System.Web.Mvc
@using Infrastructure.Resources
@using Web.eBado
@helper SettingsMenu(UrlHelper Url, string viewType, Web.eBado.Models.Shared.SessionModel session)
{
    <div class="tab push_bottom_10">
        <input type="button" name="btn" class="@(viewType == "MyAdvertisements" ? "active" : "")" onclick="location.href='@Url.Action("MyAdvertisements", "Account")'" value="MOJE INZERATY" />
        <input type="button" name="btn" class="@(viewType == "MyAdvertisements" ? "active" : "")" onclick="location.href='@Url.Action("MyAdvertisements", "Account")'" value="MOJE DOPYTY" />
        @if (session.Companies.Any())
        {
            <input type="button" name="btn" class="@(viewType == "MyAdvertisements" ? "active" : "")" onclick="location.href='@Url.Action("MyAdvertisements", "Account")'" value="MOJE HODNOTENIA" />
        }
        <input type="button" name="btn" class="@(viewType == "MyAdvertisements" ? "active" : "")" onclick="location.href='@Url.Action("MyAdvertisements", "Account")'" value="PRIDAT UCET" />
        <input type="button" name="btn" class="@(viewType == "BatchAccountGallery" ? "active" : "")" onclick="location.href='@Url.Action("BatchAccountGallery", "Account")'" value="GALERIA" />
        <input type="button" name="btn" class="@(viewType == "ChangeSettings" ? "active" : "")" onclick="location.href='@Url.Action("ChangeSettings", "Account")'" value="NASTAVENIA" />
    </div>
}

@helper RegisterMenu(UrlHelper Url, string viewType)
{
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="@(viewType == "RegisterUser" ? "active" : "")">
            <a href="@Url.Action("RegisterUser", "Account")" aria-controls="home" style="font-size:15px;">@Resources.BasicAccount</a>
        </li>
        <li role="presentation" class="@(viewType == "RegisterCompany" ? "active" : "")">
            <a href='@Url.Action("RegisterCompany", "Account")' aria-controls="settings" style="font-size:15px;">@Resources.CompanyAccount</a>
        </li>
    </ul>
}
