@using Infrastructure.Resources

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/main_style")

    @Scripts.Render("~/bundles/jquery_base")
    @Scripts.Render("~/bundles/jquery_ui")
    @RenderSection("scripts", required: false)
</head>

<body>
    <div class="page-wrap">
        @{ var session = (Web.eBado.Models.Shared.SessionModel)Session["User"]; }
        @{
            var language = Request.Cookies["lang"]?.Value;
            string token = Request.Cookies["tokenCookie"]?.Value;
            if (!string.IsNullOrEmpty(token))
            {
                HttpContext.Current.Request.Headers.Add("Authorization", $"Bearer {token}");
            }
        }
        <!-- Top panel -->
        <div class="container">
            <div class="lang-panel">
                <div value="hu-HU" class="lang-div @(language.Contains("hu") ? "hu-active" : "hu")"></div>
                <div value="cz-CZ" class="lang-div @(language.Contains("cz") ? "cz-active" : "cz")"></div>
                <div value="sk-SK" class="lang-div @(language.Contains("sk") ? "sk-active" : "sk")"></div>
                <div value="en-US" class="lang-div @(language.Contains("en") ? "en-active" : "en")"></div>
            </div>
        </div>
        <div class="top-panel">
            <div class="container">
                <div class="top-panel-img"></div>
                <div class="top-panel-drop">

                    @if (!string.IsNullOrEmpty(token) && session != null)
                    {
                        <nav-account>
                            <ul>
                                <li>
                                    @if (session.IsActive == true)
                                    {
                                        <a href="" class="accountLink" id="@session.Name"><span class="glyphicon glyphicon-user"></span>&nbsp;@session.Name<div id="down-triangle"></div></a>
                                    }
                                    else
                                    {
                                        <a href="" class="accountLink" id="@session.Companies.FirstOrDefault(c => c.IsActive).Name"><span class="glyphicon glyphicon-user"></span>&nbsp;@session.Companies.FirstOrDefault(c => c.IsActive).Name<div id="down-triangle"></div></a>
                                    }
                                    <ul>
                                        @if (!session.IsActive)
                                        {
                                            <li><a href="" class="accountLink" id="@session.Name"><span class="glyphicon glyphicon-user"></span>&nbsp;@session.Name<div class="circle"></div></a></li>
                                        }
                                        @foreach (var company in session.Companies.Where(c => !c.IsActive))
                                        {
                                            <li><a href="" class="accountLink" id="@company.Name"><span class="glyphicon glyphicon-user"></span>&nbsp;@company.Name<div class="circle"></div></a></li>
                                        }
                                        <li><a href="#">Moje dopyty<div class="circle"></div></a></li>
                                        <li><a href="@Url.Action("ChangeSettings","Account")">Nastavenie<div class="circle"></div></a></li>
                                        <li><a href="@Url.Action("Logout","Account")">Odhlásiť sa<div class="circle"></div></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav-account>
                    }
                    else
                    {
                        <input type="button" name="btn" class="form-btn-transparent" onclick="location.href='@Url.Action("RegisterUser", "Account")'" value="@Resources.Register" />
                        <input type="button" name="btn" class="form-btn-transparent" onclick="location.href='@Url.Action("Login", "Account")'" value="@Resources.Login" />
                    }
                </div>
            </div>
        </div>

        <!--SubMenu-->
        <div class="submenu" id="SubMenuId">
            <div class="container">
                <div class="position">
                    <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active_menu" : "")" href="@Url.Action("Index", "Home")">bazár</a>
                    <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index2" ? "active_menu" : "")" href="@Url.Action("Index2", "Home")">dopyt</a>
                    <a href="#contact">faq</a>
                    <a href="#about">cenník</a>
                </div>
                <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
            </div>
        </div>

        <script>
            function myFunction() {
                var x = document.getElementById("SubMenuId");
                if (x.className === "submenu") {
                    x.className += " responsive";
                } else {
                    x.className = "submenu";
                }
            }

                $(".lang-div").click(function () {
                    var langValue = $(this).attr('value');
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("SetLanguage", "Manage")',
                        data: { language: langValue },
                        dataType: "text",
                        statusCode: {
                            302: setTimeout(function () {
                                window.location.reload();
                            }, 100)
                        }
                    });
            });

                $(".accountLink").click(function (event) {
                 event.preventDefault();
                 var accountName = $(this).attr('id');
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("SetAccount", "Manage")',
                        data: { accountName: accountName },
                        dataType: "text",
                        statusCode: {
                            302: setTimeout(function () {
                                window.location.reload();
                            }, 100)
                        }
                    });
                });
        </script>


        @RenderBody()
    </div>
    <footer class="site-footer">
        <p>&copy; @DateTime.Now.Year - eBado Application</p>
    </footer>

</body>
</html>
