<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/main_style")

    @Scripts.Render("~/bundles/jquery_base")
    @Scripts.Render("~/bundles/jquery_ui")
    @RenderSection("scripts", required: false)
</head>

<body>

    @{ var language = @Request.Cookies["lang"].Value; }
    <!-- Top panel -->
    <div class="container">
        <div class="lang-panel">
            <div value="hu-HU" class="lang-div hu @(language.Contains("hu") ? "lang-active" : "")"></div> 
            <div value="cz-CZ" class="lang-div cz @(language.Contains("cz") ? "lang-active" : "")"></div>
            <div value="sk-SK" class="lang-div sk @(language.Contains("sk") ? "lang-active" : "")"></div>
            <div value="en-US" class="lang-div en @(language.Contains("en") ? "lang-active" : "")"></div>
        </div>
        </div>
        <div class="top-panel">
            <div class="container">
                <div class="top-panel-img"></div>
                <div class="top-panel-drop">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>

        <!-- Top menu -->
        @*<nav class="navbar" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="top-navbar-1">
                        <ul class="nav navbar-nav navbar-right">

                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                                <a href="@Url.Action("Index", "Home")"><i class="fa fa-camera"></i><br>bazár</a>
                            </li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index2" ? "active" : "")">
                                <a href="@Url.Action("Index2", "Home")"><i class="fa fa-comments"></i><br>dopyt</a>
                            </li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index3" ? "active" : "")">
                                <a href="@Url.Action("Index3", "Home")"><i class="fa fa-tasks"></i><br>faq</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-user"></i><br>cenník</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>*@

        <!--SubMenu-->
        <div class="submenu" id="SubMenuId">
            <div class="container">
                <div class="position">
                    <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active_menu" : "")" href="@Url.Action("Index", "Home")">bazár</a>
                    <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index2" ? "active_menu" : "")" href="@Url.Action("Index2", "Home")">dopyt</a>
                    <a href="#contact">faq</a>
                    <a href="#about">cenník</a>
                </div>
                <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
            </div>
        </div>

        <script>
            function myFunction() {
                var x = document.getElementById("SubMenuId");
                if (x.className === "submenu") {
                    x.className += " responsive";
                } else {
                    x.className = "submenu";
                }
            }

            $(".lang-div").click(function () {
                var langValue = $(this).attr('value');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SetLanguage", "Home")',
                    data: { language: langValue},
                    dataType: "text",
                    statusCode: {
                        302: function() {
                            location.reload(true);
                        }
                    }
                });
            });
        </script>

        @*<div class="e-wrapper">
                @RenderBody()
                <div class="e-pull-left"></div>
                <div class="e-footer">
                    <p>&copy; @DateTime.Now.Year - eBado Application</p>
                </div>
            </div>*@

        <div id="wrap">
            @RenderBody()
        </div>
        <footer id="footer">
            <div class="container">
                <p>&copy; @DateTime.Now.Year - eBado Application</p>
            </div>
        </footer>

</body>
</html>
