@model Web.eBado.Models.Account.RegisterCompany

@{
    ViewBag.Title = "RegisterCompany";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="col-md-2"></div>
        <div class="row">
            <div class="col-md-7">
                <!-- Nav tabs --><div class="card">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation"><a href="@Url.Action("RegisterUser", "Account")" aria-controls="home" style="font-size:15px;">ZAKLADNY UCET</a></li>
                        <li role="presentation"><a href="@Url.Action("RegisterPartTime", "Account")" aria-controls="profile" style="font-size:15px;">PRACA NA DOHODU</a></li>
                        <li role="presentation"><a href="@Url.Action("RegisterSelfEmployed", "Account")" aria-controls="messages" style="font-size:15px;">ZIVNOSTNIK</a></li>
                        <li role="presentation" class="active"><a href='@Url.Action("RegisterCompany", "Account")' aria-controls="settings" style="font-size:15px;">FIREMNY UCET</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="basic">
                            <form>
                                <div class="col-sm-12 reg-font">Prihlasovacie údaje</div>
                                <hr class="col-sm-12 transparent" />
                                <div class="form-group col-sm-6">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "Email*" } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.Email)
                                    </label>
                                </div>
                                <div class="form-group col-sm-6">
                                    @Html.EditorFor(model => model.AccountName, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "Užívateľské meno*" } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.AccountName)
                                    </label>
                                </div>
                                <div class="form-group col-sm-6">
                                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "Telefonický kontakt*" } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.PhoneNumber)
                                    </label>
                                </div>
                                <div class="col-sm-12 reg-font">Kontaktná osoba</div>
                                <hr class="col-sm-12 transparent" />
                                <div class="form-group col-sm-3">
                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "Titul" } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.Title)
                                    </label>
                                </div>
                                <div class="form-group col-sm-4">
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "Meno*" } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.FirstName)
                                    </label>
                                </div>
                                <div class="form-group col-sm-5">
                                    @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "Priezvisko*" } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.Surname)
                                    </label>
                                </div>
                                <div class="col-sm-12 reg-font">Kontaktné údaje spoločnosti</div>
                                <hr class="col-sm-12 transparent" />
                                <div class="form-group col-sm-3">
                                    @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "PSČ*" } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.PostalCode)
                                    </label>
                                </div>
                                <div class="form-group col-sm-6">
                                    @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "Ulica*" } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.Street)
                                    </label>
                                </div>
                                <div class="form-group col-sm-3">
                                    @Html.EditorFor(model => model.StreetNumber, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "Číslo*" } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.StreetNumber)
                                    </label>
                                </div>
                                <div class="form-group col-sm-6">
                                    @Html.EditorFor(model => model.Ico, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "Ičo*" } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.Ico)
                                    </label>
                                </div>
                                <div class="form-group col-sm-6">
                                    @Html.EditorFor(model => model.Dic, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "Dič*" } })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.Dic)
                                    </label>
                                </div>
                                <div class="col-sm-12 reg-font">Oblasť podnikania</div>
                                <hr class="col-sm-12 transparent" />
                                <div class="form-group col-sm-6">
                                    @Html.DropDownList("Category", ViewData["categories"] as List<SelectListItem>, new { @class = "form-control" })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.Specialization)
                                    </label>
                                </div>
                                <div class="form-group col-sm-6">
                                    @Html.DropDownList("SubCategory", new SelectList(string.Empty, "Value", "Text"), "", new { style = "width:250px", @class = "form-control", @disabled = "disabled" })
                                    <label class="label-form" for="email">
                                        @Html.ValidationMessageFor(model => model.Specialization)
                                    </label>
                                </div>
                                @Html.HiddenFor(m => m.SelectedSubCategory, new { id = "CatID" })

                                <button type="submit" id="MyButton" class="form-btn col-sm-12">REGISTROVAT</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="../../Scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $("#Category").change(function () {
            $("#SubCategory").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetSubCategories", "Manage")',

                dataType: 'json',

                data: { id: $("#Category").val() },
               
                success: function (states) {

                    $.each(states, function (i, state) {
                        $("#SubCategory").append('<option value="' + state.Value + '">' +
                         state.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
    });
        $("#Category").change(function () {
            $("#SubCategory").attr("disabled", this.value == "0" || this.value == "");
        });
        $("#SubCategory").change(function () {
            document.getElementById('CatID').value = $("#SubCategory").val();
        });
    </script>

}
