@model Web.eBado.Models.Account.UserAccountSettingsModel

@{
    ViewBag.Title = "UserAccountSettings";
}

@Styles.Render("~/Content/settings")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="resp">
            <div class="tab">
                <input type="button" name="btn" class="tablinks" onclick="location.href='@Url.Action("RegisterUser", "Account")'" value="REGISTRÁCIA" />
                <input type="button" name="btn" class="tablinks" onclick="location.href='@Url.Action("Login", "Account")'" value="PRIHLÁSENIE" />
            </div>

            <div class="tabcontent">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PasswordModel.OldPassword, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "Stare heslo* " } })
                        @Html.ValidationMessageFor(model => model.PasswordModel.OldPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PasswordModel.NewPassword, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "Nove heslo* " } })
                        @Html.ValidationMessageFor(model => model.PasswordModel.NewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PasswordModel.RepeatNewPassword, new { htmlAttributes = new { @class = "form-control txt-lg", @placeholder = "Nove heslo* " } })
                        @Html.ValidationMessageFor(model => model.PasswordModel.RepeatNewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="ZMENIT" class="form-btn" style="width:200px" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

