@model Web.eBado.Models.Company.CompanySearchModel
@using Infrastructure.Resources
@using PagedList.Mvc;
@{
    ViewBag.Title = "AllCompanies";
}

@Styles.Render("~/Content/company")
@Scripts.Render("~/bundles/jquery_autocomplete")
@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "allCompaniesForm" }))
            {
    <div class="container">
        <div class="search_panel">
            <div class="search_textBox-xlg">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = @Resources.SupplierName } })
            </div>
            <div class="search_textBox-lg">
                @Html.DropDownListFor(model => model.SelectedMainCategory, Model.AllMainCategories, "All categories", new { @class = "form-control", onchange = "UpdateFilter()", id = "categoryDropDown" })
            </div>
            <div class="search_text">@Resources.City:</div>
            <div class="search_textBox-md">
                <input type="text" class="form-control" id="txtPostalCode" placeholder="@Resources.CityOrPostalCode" />
                @Html.HiddenFor(model => model.PostalCode, new { @id = "hiddenPostalCode" })
            </div>
            <div class="search_text">@Resources.Radius:</div>
            <div class="search_textBox-sm">
                @Html.EditorFor(model => model.Radius, new { htmlAttributes = new { @class = "form-control", @placeholder = "km", @Value=Model.DefaultRadius } })
            </div>
            <div class="search_button">
                <button id="searchBtn" type="submit" class="white-border-btn search_btn_resp"><i class="glyphicon glyphicon-search"></i> @Resources.Search</button>
            </div>
        </div>

        @Html.HiddenFor(model => model.SelectedCategory, new { id = "CategoryHidden" })
        @Html.HiddenFor(model => model.SelectedSubCategory, new { id = "SubCategoryHidden" })

        <div class="main_container">
            <div class="col-md-3 nopadding category_container">

                <div class="search_head"><span id="searchSpan" class="glyphicon glyphicon-minus"></span>  @Resources.AdvancedSearch:</div>
                <div id="search_container">
                    <div class="search_body">
                        <div class="settings_wrapper">
                            <div class="text_div">@Resources.SearchInSK:</div>
                            <div class="toggle_div">
                                <label class="switch_small">
                                    @Html.CheckBoxFor(m => m.SearchInSK, new { @class = "form-control" })
                                    <span class="slider_small"></span>
                                </label>
                            </div>
                        </div>
                        <div class="settings_wrapper">
                            <div class="text_div">@Resources.SearchInCZ:</div>
                            <div class="toggle_div">
                                <label class="switch_small">
                                    @Html.CheckBoxFor(m => m.SearchInCZ, new { @class = "form-control" })

                                    <span class="slider_small"></span>
                                </label>
                            </div>
                        </div>
                        <div class="settings_wrapper">
                            <div class="text_div">@Resources.SearchInHU:</div>
                            <div class="toggle_div">
                                <label class="switch_small">
                                    @Html.CheckBoxFor(m => m.SearchInHU, new { @class = "form-control" })

                                    <span class="slider_small"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space_10"></div>
                @{
                    var currentCategory = Model.AllCategories.FirstOrDefault(ac => ac.Category == Model.SelectedMainCategory);
                    if (currentCategory == null)
                    {
                        currentCategory = Model.AllCategories.FirstOrDefault(ac => ac.SubCategories.Contains(Model.SelectedMainCategory));
                    }
                }
                @if (Model.SelectedMainCategory == null)
                {
                <div class="category_head"><span id="categorySpan" class="glyphicon glyphicon-minus"></span>  @Resources.Categories:</div>
                    <div id="cat_container">
                        @foreach (var cat in Model.AllCategories)
                        {
                            <div class="category_body">
                                <div class="cat_list">@cat.Category</div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="category_head"><span id="categorySpan" class="glyphicon glyphicon-minus"></span> @currentCategory.Category</div>
                    <div id="cat_container">
                        @foreach (var subCat in currentCategory.SubCategories)
                        {
                            <div class="category_body">
                                <div class="subCat_list">@subCat</div>
                            </div>
                        }
                    </div>
                }
            </div>
            <div class="col-md-9 nopadding_md">
                @foreach (var company in Model.CompanyModel)
                {
                    <div class="col-md-12 push_bottom_20 company_area">
                        <div class="col-sm-2 nopadding">
                            <a href='@Url.Action("CompanyDetail", "Company", new { id = company.CompanyId })'>
                                @if (company.ProfileUrl == null)
                                {
                                    <img src="~/Content/BaseContent/img/no_photo.jpg" />
                                }
                                else
                                {
                                    <img src="@company.ProfileUrl" />
                                }
                            </a>
                        </div>
                        @{ var description = company.CompanyDescription == null ? @Resources.NoDetailDescription
                                : company.CompanyDescription.Length <= 350 ? company.CompanyDescription : company.CompanyDescription.Substring(0, 350) + "..."; }
                        <div class="col-md-8 nopadding resp_push_top_10 push_bottom_5_resp">
                            <div class="col-md-12 text-left head_text"><a href='@Url.Action("CompanyDetail","Company", new {id = company.CompanyId })'>@company.CompanyName</a></div>
                            <div class="col-md-12 text-left body_text resp_push_top_10 push_bottom_10_resp">
                                @description
                            </div>
                            <div class="col-md-12 push" style="display: table-cell;">
                                <div class="company_head_text head_text ">@Resources.Categories:</div>
                                @foreach (var category in company.AllSelectedCategories)
                                {
                                    <div class="company_tags push_bottom_5">@category</div>
                                }
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="col-sm-12 head_text">@company.CompanyPostalCode</div>
                            <div class="col-sm-12 head_text">@company.CompanyCity</div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="container">
            @Html.PagedListPager(Model.CompanyModel, page => Url.Action("AllCompanies", new
       {
           Page = page,
           Name = Model.Name,
           PostalCode = Model.PostalCode,
           Radius = Model.Radius,
           SearchInSK = Model.SearchInSK,
           SearchInCZ = Model.SearchInCZ,
           SearchInHU = Model.SearchInHU,
           SelectedMainCategory = Model.SelectedMainCategory ?? Model.SelectedCategory,
           SelectedSubCategory = Model.SelectedSubCategory
       }), new PagedListRenderOptions
       {
           DisplayLinkToFirstPage = PagedListDisplayMode.Always,
           DisplayLinkToLastPage = PagedListDisplayMode.Always,
           DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
           DisplayLinkToNextPage = PagedListDisplayMode.Always,
           DisplayEllipsesWhenNotShowingAllPageNumbers = true,
           LinkToFirstPageFormat = @Resources.FirstPage,
           LinkToPreviousPageFormat = @Resources.PreviousPage,
           LinkToNextPageFormat = @Resources.NextPage,
           LinkToLastPageFormat = @Resources.LastPage,
           MaximumPageNumbersToDisplay = 8
       })
        </div>

    </div>
                    }
<script>
    $(document).ready(function () {
        CatContainerShowHide();
        SearchContainerShowHide();
        $(window).resize(function () {
            CatContainerShowHide();
            SearchContainerShowHide();
        });
        $("#txtPostalCode").val(@Html.Raw(Json.Encode(Model.PostalCode)));
        $("#categoryDropDown").val("@Model.SelectedMainCategory");
        $('div').filter(function (index)
        {
            return $(this).text() === @Html.Raw(Json.Encode(Model.SelectedSubCategory));
        }).addClass("active_text");
    });

    $('.cat_list').on('click', function () {
        var value = $(this).text();
        $("#CategoryHidden").val(value);
        $("#allCompaniesForm").submit();
    });

    $('.subCat_list').on('click', function () {
        var value = $(this).text();
        $("#SubCategoryHidden").val(value);
        $("#allCompaniesForm").submit();
    });

    jQuery('.category_head').on('click', function () {
        jQuery("#cat_container").slideToggle();
        if ($("#categorySpan").hasClass('glyphicon-minus')) {
            jQuery("#categorySpan").removeClass('glyphicon-minus').addClass('glyphicon-plus');
        }
        else {
            jQuery("#categorySpan").removeClass('glyphicon-plus').addClass('glyphicon-minus');
        }
    });

    jQuery('.search_head').on('click', function () {
        jQuery("#search_container").slideToggle();
        if ($("#searchSpan").hasClass('glyphicon-minus')) {
            jQuery("#searchSpan").removeClass('glyphicon-minus').addClass('glyphicon-plus');
        }
        else {
            jQuery("#searchSpan").removeClass('glyphicon-plus').addClass('glyphicon-minus');
        }
    });

    function CatContainerShowHide() {
        if ($(window).width() < 992) {
            jQuery("#cat_container").hide();
            if ($("#categorySpan").hasClass('glyphicon-minus')) {
                jQuery("#categorySpan").removeClass('glyphicon-minus').addClass('glyphicon-plus');
            }
        } else {
            jQuery("#cat_container").show();
            if ($("#categorySpan").hasClass('glyphicon-plus')) {
                jQuery("#categorySpan").removeClass('glyphicon-plus').addClass('glyphicon-minus');
            }
        }
    }

    function SearchContainerShowHide() {
        if ($(window).width() < 992) {
            jQuery("#search_container").hide();
            if ($("#searchSpan").hasClass('glyphicon-minus')) {
                jQuery("#searchSpan").removeClass('glyphicon-minus').addClass('glyphicon-plus');
            }
        } else {
            jQuery("#search_container").show();
            if ($("#searchSpan").hasClass('glyphicon-plus')) {
                jQuery("#searchSpan").removeClass('glyphicon-plus').addClass('glyphicon-minus');
            }
        }
    }

    function UpdateFilter() {
        $("#CategoryHidden").remove();
        $("#SubCategoryHidden").remove();
        $("#allCompaniesForm").submit();
    }
</script>
@Scripts.Render("~/bundles/postalCode")